/*

ABOUT.CSS
GEOVONGRIFFIN.COM
LAST UPDATED SEP 2025


COLOR SELECTIONS:
    BORDERS, TEXT SELECT: #EEEEEE;
    MAIN TEXT: #5A5A5A;
    LINKS: #000000;
    ACCENT: #C0E8FF;
    SECONDARY TEXT: #AAAAAA;
*/

main {
    display: block;
    max-width: inherit;
    color: #5a5a5a;
    padding: 24px;
    margin-top: 24px;
}
p {
    line-height: 1.3em;
    font-family:  'Radley', serif;
}
#sidebar .tagline {
    font-family: 'Chillax', sans-serif;
    color: #000;
}
main a, main a:hover {
    text-decoration: none;
    color: #5a5a5a;
}
.bl-emphasis {
    color: #3d3dff;
    font-weight: bold;
    border-bottom: 2px solid;
}
@media only screen and (max-width: 600px) {

}