/*

ABOUT.CSS
GEOVONGRIFFIN.COM
LAST UPDATED SEP 2025


COLOR SELECTIONS:
    BORDERS, TEXT SELECT: #EEEEEE;
    MAIN TEXT: #5A5A5A;
    LINKS: #000000;
    ACCENT: #C0E8FF;
    SECONDARY TEXT: #AAAAAA;

*/

main {display: block; 
    border: 1px solid #eeeeee;
    padding: 16px 32px;
    max-width: inherit;
    color: #5a5a5a;
    margin-top: 32px;
    transition: all ease 0.4s;}
main:hover {
    transform: translate(8px, 8px);
    box-shadow: -8px -8px #eee;}
p {
    line-height: 1.3em;
    font-family:  'Radley', serif;}
main a, main a:hover {text-decoration: none;
    color: #5a5a5a;}
.bl-emphasis {color: #3d3dff;
    font-weight: bold;
    border-bottom: 2px solid;}

@media only screen and (max-width: 600px) {
    main:hover {transform: none; box-shadow: none;}
}